<div class="component__inner svg__inner ">

  {{> component this}}

  <div class="component__widget svg__widget">
    <div class="svg__fallback">
      <img loading="eager" src="{{_fallback.src}}"{{#if _fallback.alt}} alt="{{_fallback.alt}}"{{else}} aria-hidden="true"{{/if}} />
      {{#if _fallback.description}}
      <div class="aria-label">{{{_fallback.description}}}</div>
      {{/if}}
      {{#if _fallback.attribution}}
      <div class="attribution">{{{_fallback.attribution}}}</div>
      {{/if}}
    </div>
    <div class="svg__animation">
      <div class="svg__player{{#if _animation._showPauseControl}} js-svg-play-pause{{/if}}"{{#any _animation.alt _animation.description}}{{else}} aria-hidden="true"{{/any}}>
        {{#if _animation.alt}}
        {{a11y_aria_image _animation.alt}}
        {{/if}}
        {{#if _animation.description}}
        <div class="aria-label">{{{_animation.description}}}</div>
        {{/if}}
        <div class="svg__widget-aligner" aria-hidden="true">
        </div>
        {{#if _animation._showPauseControl}}
        <button class="svg__playpause icon" type="button" aria-label="Pause"></button>
        {{/if}}
      </div>

      {{#if _animation.attribution}}
      <div class="component__attribution svg__attribution">
        <div class="component__attribution-inner svg__attribution-inner">
          {{{_animation.attribution}}}
        </div>
      </div>
      {{/if}}
      
    </div>
  </div>

</div>
